### Practice

In [139]:
#Read data with pandas
import pandas as pd
import numpy as np

In [119]:
df = pd.read_csv('datasets/pokemon.csv')

In [120]:
df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack         12
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [121]:
df.shape

(800, 13)

In [122]:
df.notnull().sum()

#             800
Name          800
Type 1        800
Type 2        414
Total         800
HP            800
Attack        788
Defense       800
Sp. Atk       800
Sp. Def       800
Speed         800
Generation    800
Legendary     800
dtype: int64

In [123]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49.0,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62.0,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,NaN,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100.0,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,NaN,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100.0,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160.0,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,NaN,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,NaN,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110.0,120,130,90,70,6,True

In [124]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

### LOC and ILOC

In [125]:
df.loc[(df["Type 1"]=="Fire")]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,NaN,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64.0,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84.0,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130.0,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104.0,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,299,38,41.0,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,505,73,76.0,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,350,55,0.0,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,555,90,0.0,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,410,50,85.0,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,500,65,100.0,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,495,65,95.0,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,525,65,130.0,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,580,90,100.0,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,309,39,52.0,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,405,58,64.0,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,534,78,84.0,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,250,40,40.0,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,410,50,50.0,120,80,80,30,2,False
259,240,Magby,Fire,NaN,365,45,75.0,37,70,55,83,2,False
263,244,Entei,Fire,NaN,580,115,115.0,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,680,106,130.0,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,310,45,60.0,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,405,60,85.0,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,530,80,120.0,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160.0,80,130,80,100,3,False
352,322,Numel,Fire,Ground,305,60,60.0,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,460,70,100.0,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,560,70,120.0,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,470,70,85.0,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,309,44,58.0,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,405,64,78.0,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,534,76,104.0,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,540,75,95.0,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,600,91,90.0,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,308,65,63.0,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,418,90,93.0,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,528,110,123.0,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,316,50,53.0,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,498,75,98.0,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,315,70,90.0,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,480,105,140.0,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,540,105,30.0,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,484,85,97.0,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,307,40,45.0,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,409,59,59.0,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,534,75,69.0,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,382,62,73.0,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,499,78,81.0,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,369,62,50.0,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68.0,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,600,80,110.0,120,130,90,70,6,True

In [126]:
df.loc[(df["Type 1"]=="Fire") & (df["Attack"]>=90)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130.0,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104.0,78,159,115,100,1,False
84,78,Rapidash,Fire,NaN,500,65,100.0,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,495,65,95.0,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,525,65,130.0,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,580,90,100.0,90,125,85,90,1,True
263,244,Entei,Fire,NaN,580,115,115.0,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,680,106,130.0,90,110,154,90,2,True
278,257,Blaziken,Fire,Fighting,530,80,120.0,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160.0,80,130,80,100,3,False
353,323,Camerupt,Fire,Ground,460,70,100.0,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,560,70,120.0,100,145,105,20,3,False
437,392,Infernape,Fire,Fighting,534,76,104.0,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,540,75,95.0,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,600,91,90.0,106,130,106,77,4,True
558,499,Pignite,Fire,Fighting,418,90,93.0,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,528,110,123.0,65,100,65,65,5,False
573,514,Simisear,Fire,NaN,498,75,98.0,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,315,70,90.0,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,480,105,140.0,55,30,55,95,5,False
692,631,Heatmor,Fire,NaN,484,85,97.0,66,105,66,65,5,False
799,721,Volcanion,Fire,Water,600,80,110.0,120,130,90,70,6,True

In [127]:
df.loc[(df["Type 1"]=="Fire"), ['Name','Speed']]

                          Name  Speed
4                   Charmander     65
5                   Charmeleon     80
6                    Charizard    100
7    CharizardMega Charizard X    100
8    CharizardMega Charizard Y    100
42                      Vulpix     65
43                   Ninetales    100
63                   Growlithe     60
64                    Arcanine     95
83                      Ponyta     90
84                    Rapidash    105
135                     Magmar     93
147                    Flareon     65
158                    Moltres     90
169                  Cyndaquil     65
170                    Quilava     80
171                 Typhlosion    100
236                     Slugma     20
237                   Magcargo     30
259                      Magby     83
263                      Entei    100
270                      Ho-oh     90
276                    Torchic     45
277                  Combusken     55
278                   Blaziken     80
279      BlazikenMega Blaziken    100
352                      Numel     35
353                   Camerupt     40
354      CameruptMega Camerupt     20
355                    Torkoal     20
435                   Chimchar     61
436                   Monferno     81
437                  Infernape    108
518                  Magmortar     83
542                    Heatran     77
557                      Tepig     45
558                    Pignite     55
559                     Emboar     65
572                    Pansear     64
573                   Simisear    101
614                   Darumaka     50
615    DarmanitanStandard Mode     95
616         DarmanitanZen Mode     55
692                    Heatmor     65
721                   Fennekin     60
722                    Braixen     73
723                    Delphox    104
730                Fletchinder     84
731                 Talonflame    126
735                     Litleo     72
736                     Pyroar    106
799                  Volcanion     70

In [128]:
#Pandas takes first argument as row and second as column
df.iloc[0:3]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49.0,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62.0,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,NaN,83,100,100,80,1,False

In [129]:
df.iloc[0:5, :-1]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,318,45,49.0,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,405,60,62.0,63,80,80,60,1
2,3,Venusaur,Grass,Poison,525,80,NaN,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100.0,123,122,120,80,1
4,4,Charmander,Fire,NaN,309,39,NaN,43,60,50,65,1

In [130]:
df.iloc[[9,28]]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48.0,65,50,64,43,1,False
28,23,Ekans,Poison,NaN,288,35,60.0,44,40,54,55,1,False

In [131]:
df.iloc[[9,28], 2:5]

    Type 1 Type 2  Total
9    Water    NaN    314
28  Poison    NaN    288

# One Hot Encoding

In [136]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,788.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,77.343909,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,34.346611,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,0.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      800 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    float64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), float64(1), int64(8), object(3)
memory usage: 75.9+ KB

In [137]:
df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack         12
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [135]:
df["Attack"].mean()

77.34390862944163

In [142]:
#Now this is actually cleaning a data
df.replace(to_replace=np.nan, value=77.34, inplace=True)
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49.00,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62.00,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,77.34,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100.00,123,122,120,80,1,False
4,4,Charmander,Fire,77.34,309,39,77.34,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100.00,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160.00,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,77.34,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,77.34,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110.00,120,130,90,70,6,True

In [143]:
df.isnull().sum()

#             0
Name          0
Type 1        0
Type 2        0
Total         0
HP            0
Attack        0
Defense       0
Sp. Atk       0
Sp. Def       0
Speed         0
Generation    0
Legendary     0
dtype: int64

In [146]:
df["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [171]:
df.loc[:,["Type 1"]].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
dtype: int64

In [150]:
df.sort_values("Defense", ascending=False)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,505,20,10.0,230,10,230,5,2,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125.0,230,55,95,30,2,False
333,306,AggronMega Aggron,Steel,77.34,630,70,140.0,230,60,80,50,3,False
223,208,Steelix,Steel,Ground,510,75,85.0,200,55,65,30,2,False
414,377,Regirock,Rock,77.34,580,80,100.0,200,50,100,50,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,63,Abra,Psychic,77.34,310,25,0.0,15,105,55,90,1,False
186,172,Pichu,Electric,77.34,205,20,40.0,15,35,35,60,2,False
261,242,Blissey,Normal,77.34,540,255,10.0,10,75,135,55,2,False
488,440,Happiny,Normal,77.34,220,100,5.0,5,15,65,30,4,False
121,113,Chansey,Normal,77.34,450,250,5.0,5,35,105,50,1,False

In [153]:
df.sort_values(["Defense","Attack"], ascending=[True,False])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,113,Chansey,Normal,77.34,450,250,5.0,5,35,105,50,1,False
488,440,Happiny,Normal,77.34,220,100,5.0,5,15,65,30,4,False
261,242,Blissey,Normal,77.34,540,255,10.0,10,75,135,55,2,False
186,172,Pichu,Electric,77.34,205,20,40.0,15,35,35,60,2,False
188,174,Igglybuff,Normal,Fairy,210,90,30.0,15,40,20,15,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,377,Regirock,Rock,77.34,580,80,100.0,200,50,100,50,3,True
223,208,Steelix,Steel,Ground,510,75,85.0,200,55,65,30,2,False
333,306,AggronMega Aggron,Steel,77.34,630,70,140.0,230,60,80,50,3,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125.0,230,55,95,30,2,False
230,213,Shuckle,Bug,Rock,505,20,10.0,230,10,230,5,2,False

# Feature Engineering
### Add Column

In [159]:
attack_mean = df["Attack"].mean()

def set_attack(val):
    if val < attack_mean:
        return "Attack Low"
    elif val == attack_mean:
        return "Attack Neutral"
    else:
        return "Attack High"

In [156]:
df["Attack_high_low"] = df["Attack"].apply(set_attack)
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49.00,49,65,65,45,1,False,Attack Low
1,2,Ivysaur,Grass,Poison,405,60,62.00,63,80,80,60,1,False,Attack Low
2,3,Venusaur,Grass,Poison,525,80,77.34,83,100,100,80,1,False,Attack Low
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100.00,123,122,120,80,1,False,Attack High
4,4,Charmander,Fire,77.34,309,39,77.34,43,60,50,65,1,False,Attack Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100.00,150,100,150,50,6,True,Attack High
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160.00,110,160,110,110,6,True,Attack High
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,77.34,60,150,130,70,6,True,Attack Low
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,77.34,60,170,130,80,6,True,Attack Low
799,721,Volcanion,Fire,Water,600,80,110.00,120,130,90,70,6,True,Attack High

### GroupBy

In [165]:
df.groupby("Type 1").groups

{'Bug': [13, 14, 15, 16, 17, 18, 19, 51, 52, 53, 54, 132, 136, 137, 179, 180, 181, 182, 208, 219, 220, 228, 229, 230, 231, 232, 288, 289, 290, 291, 292, 307, 308, 314, 315, 316, 342, 343, 446, 447, 457, 458, 459, 460, 461, 462, 463, 520, 600, 601, 602, 603, 604, 605, 618, 619, 649, 650, 656, 657, 677, 678, 693, 697, 698, 717, 732, 733, 734], 'Dark': [212, 213, 233, 246, 247, 248, 284, 285, 326, 327, 392, 393, 478, 512, 549, 568, 569, 620, 621, 631, 632, 685, 686, 690, 691, 694, 695, 696, 756, 757, 793], 'Dragon': [159, 160, 161, 365, 366, 406, 407, 408, 409, 417, 418, 419, 420, 425, 426, 491, 492, 493, 494, 671, 672, 673, 682, 706, 707, 710, 711, 712, 774, 775, 776, 794], 'Electric': [30, 31, 88, 89, 108, 109, 134, 146, 157, 186, 193, 194, 195, 196, 258, 262, 337, 338, 339, 340, 341, 448, 449, 450, 464, 513, 517, 531, 532, 533, 534, 535, 536, 581, 582, 648, 663, 664, 665, 704, 705, 764, 765, 772], 'Fairy': [40, 41, 187, 189, 190, 225, 226, 519, 737, 738, 739, 752, 753, 754, 755, 770, 792], 'Fighting': [61, 62, 72, 73, 74, 114, 115, 255, 256, 320, 321, 334, 335, 336, 496, 497, 498, 592, 593, 594, 598, 599, 680, 681, 742, 743, 771], 'Fire': [4, 5, 6, 7, 8, 42, 43, 63, 64, 83, 84, 135, 147, 158, 169, 170, 171, 236, 237, 259, 263, 270, 276, 277, 278, 279, 352, 353, 354, 355, 435, 436, 437, 518, 542, 557, 558, 559, 572, 573, 614, 615, 616, 692, 721, 722, 723, 730, 731, 735, 736, 799], 'Flying': [702, 703, 790, 791], 'Ghost': [99, 100, 101, 102, 215, 385, 386, 387, 388, 389, 472, 473, 477, 490, 529, 544, 545, 623, 624, 668, 669, 670, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787], 'Grass': [0, 1, 2, 3, 48, 49, 50, 75, 76, 77, 110, 111, 122, 166, 167, 168, 197, 202, 203, 204, 206, 207, 272, 273, 274, 275, 296, 297, 298, 309, 310, 344, 362, 363, 390, 432, 433, 434, 451, 452, 467, 468, 505, 509, 510, 511, 516, 521, 550, 551, 554, 555, 556, 570, 571, 606, 607, 608, 609, 617, 651, 652, 658, 659, 701, 718, 719, 720, 740, 741], 'Ground': [32, 33, 55, 56, 112, 113, 119, 120, 222, 250, 251, 359, 360, 361, 375, 376, 423, 424, 499, 500, 515, 523, 588, 589, 611, 612, 613, 679, 683, 684, 708, 709], 'Ice': [133, 156, 238, 239, 243, 257, 395, 396, 397, 398, 399, 400, 415, 522, 524, 530, 643, 644, 645, 674, 675, 676, 788, 789], 'Normal': [20, 21, 22, 23, 24, 25, 26, 27, 44, 45, 57, 58, 90, 91, 92, 116, 121, 123, 124, 138, 143, 144, 148, 155, 175, 176, 177, 178, 188, 205, 218, 221, 234, 235, 252, 253, 254, 260, 261, 286, 287, 299, 300, 311, 312, 313, 317, 318, 319, 322, 324, 325, 358, 364, 367, 383, 384, 441, 442, 443, 444, 445, 471, 474, 475, 476, 479, 480, 488, 489, 495, 514, 525, 543, 552, 563, 564, 565, 566, 567, 578, 579, 580, 590, 591, 633, 634, 646, 647, 687, 688, 689, 715, 716, 727, 728, 729, 744], 'Poison': [28, 29, 34, 35, 36, 37, 38, 39, 46, 47, 95, 96, 117, 118, 183, 345, 346, 368, 482, 483, 501, 502, 503, 504, 629, 630, 760, 761], 'Psychic': [68, 69, 70, 71, 104, 105, 131, 162, 163, 164, 165, 191, 192, 211, 216, 217, 269, 271, 303, 304, 305, 306, 356, 357, 391, 394, 428, 429, 430, 431, 481, 487, 526, 527, 537, 538, 539, 546, 553, 576, 577, 586, 587, 622, 635, 636, 637, 638, 639, 640, 666, 667, 745, 746, 747, 797, 798], 'Rock': [80, 81, 82, 103, 149, 150, 151, 152, 153, 154, 200, 265, 266, 267, 268, 323, 369, 370, 377, 378, 379, 380, 414, 453, 454, 455, 456, 486, 528, 583, 584, 585, 627, 628, 700, 758, 759, 766, 767, 768, 769, 773, 795, 796], 'Steel': [223, 224, 245, 328, 329, 330, 331, 332, 333, 410, 411, 412, 413, 416, 427, 484, 485, 540, 660, 661, 662, 699, 748, 749, 750, 751, 777], 'Water': [9, 10, 11, 12, 59, 60, 65, 66, 67, 78, 79, 85, 86, 87, 93, 94, 97, 98, 106, 107, 125, 126, 127, 128, 129, 130, 139, 140, 141, 142, 145, 172, 173, 174, 184, 185, 198, 199, 201, 209, 210, 214, 227, 240, 241, 242, 244, 249, 264, 280, 281, 282, 283, 293, 294, 295, 301, 302, 347, 348, 349, 350, 351, 371, 372, 373, 374, 381, 382, 401, 402, 403, 404, 405, 421, 422, 438, 439, 440, 465, 466, 469, 470, 506, 507, 508, 541, 547, 548, 560, 561, 562, 574, 575, 595, 596, 597, 610, 625, 626, ...]}

In [167]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49.00,49,65,65,45,1,False,Attack Low
1,2,Ivysaur,Grass,Poison,405,60,62.00,63,80,80,60,1,False,Attack Low
2,3,Venusaur,Grass,Poison,525,80,77.34,83,100,100,80,1,False,Attack Low
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100.00,123,122,120,80,1,False,Attack High
4,4,Charmander,Fire,77.34,309,39,77.34,43,60,50,65,1,False,Attack Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100.00,150,100,150,50,6,True,Attack High
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160.00,110,160,110,110,6,True,Attack High
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,77.34,60,150,130,70,6,True,Attack Low
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,77.34,60,170,130,80,6,True,Attack Low
799,721,Volcanion,Fire,Water,600,80,110.00,120,130,90,70,6,True,Attack High